body {
  padding: 0; margin: 0;
}

canvas {
  vertical-align: top;
}

.container {
  position: relative;
  left: 80px;
  top: 40px;
}

.baseText {
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  @extend .baseText;
  font-size: 20px;
  color: #4b4b4b;
}

.baseParagraph {
  font-size: 15px;
}

p {
  @extend .baseText, .baseParagraph;
  font-weight: 100;
  color: #77787E;
}

.result {
  @extend .baseText, .baseParagraph;
  position: relative;
  top: 40px;
  font-weight: 500;
  color: #eb105a;
}

.para {
  @extend p;
  font-weight: 600;
}

.btn:focus {
  outline: 0; }

.btn {
  width: 100px;
  height: 40px;
  margin-right: 7px;
  background: #ebeef0;
  background-image: -webkit-linear-gradient(top, #f5f2f0, #e8eaeb);
  background-image: -moz-linear-gradient(top, #f5f2f0, #e8eaeb);
  background-image: -ms-linear-gradient(top, #f5f2f0, #e8eaeb);
  background-image: -o-linear-gradient(top, #f5f2f0, #e8eaeb);
  background-image: linear-gradient(to bottom, #f5f2f0, #e8eaeb);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  color: #918c91;
  font-size: 12px;
  text-decoration: none; }

.btn:hover {
  background: #CECCCD;
  background-image: -webkit-linear-gradient(top, #F5F2F3, #CECCCD);
  background-image: -moz-linear-gradient(top, #F5F2F3, #CECCCD);
  background-image: -ms-linear-gradient(top, #F5F2F3, #CECCCD);
  background-image: -o-linear-gradient(top, #F5F2F3, #CECCCD);
  background-image: linear-gradient(to bottom, #F5F2F3, #CECCCD);
  text-decoration: none; }